<!-- custom colors from tailwind config = bg-primary bg-secondary bg-blood bg-banana bg-violet bg-green -->
<div class="grid grid-cols-3 gap-4 md:grid-cols-6 md:gap-6">
	
	<div>
		<div class="rounded shadow bg-primary aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Primary</div>
	</div>
	<div>
		<div class="rounded shadow bg-secondary aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Secondary</div>
	</div>
	<div>
		<div class="rounded shadow bg-blood aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Blood</div>
	</div>
	<div>
		<div class="rounded shadow bg-banana aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Banana</div>
	</div>
	<div>
		<div class="rounded shadow bg-violet aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Violet</div>
	</div>
	<div>
		<div class="rounded shadow bg-green aspect-square mb-2"></div>
		<div class="font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white whitespace-nowrap">Green</div>
	</div>
</div>
